name: Tests

on:
  push:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    name: Pre-commit checks

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Composer dependencies
        uses: php-actions/composer@v6
        with:
          php_version: 8.4

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - '7.3'
          - '7.4'
          - '8.0'
          - '8.1'
          - '8.2'
          - '8.3'
          - '8.4'

    name: PHP ${{ matrix.php-version }} Tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Composer dependencies
        uses: php-actions/composer@v6
        with:
          php_version: ${{ matrix.php-version }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Update phpunit container to use PHP ${{ matrix.php-version }}
        run: |
          sed -i 's/image: php:8.4-cli/image: php:${{ matrix.php-version }}-cli/' docker-compose.yml

      - name: Start test services
        run: ./tests/setup.sh

      - name: Run tests
        run: ./tests/run.sh

      - name: Teardown test services
        if: always()
        run: ./tests/teardown.sh
